In [3]:
# Descriptive Statistics - Measures of Central Tendency and variability
import numpy as np
import pandas as pd

In [4]:
df=pd.read_excel('Age-Income-Dataset.xlsx')
df.head(10)

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000
5       Young   65000
6       Young   70000
7       Young   30000
8  Middle Age   27000
9       Young   23000

In [11]:
grouped_data = df.groupby(['Age'])

In [13]:
grouped_data.describe()

           Income                                                         \
            count          mean           std      min      25%      50%
Age
Middle Age   15.0  52453.333333  20497.800114  25600.0  36900.0  53200.0
Old          19.0  53942.105263  20868.165968  24500.0  38700.0  45300.0
Young        16.0  46037.500000  22356.859499  15000.0  28750.0  41500.0


                75%      max
Age
Middle Age  61200.0  93000.0
Old         71400.0  89700.0
Young       65850.0  87000.0

In [15]:
mean_income = grouped_data['Income'].median()
mean_income

Age
Middle Age    53200.0
Old           45300.0
Young         41500.0
Name: Income, dtype: float64

In [45]:
grouped_data['Income'].get_group('Young').describe()

count       16.000000
mean     46037.500000
std      22356.859499
min      15000.000000
25%      28750.000000
50%      41500.000000
75%      65850.000000
max      87000.000000
Name: Income, dtype: float64

In [16]:
mean_income = grouped_data['Income'].mean()
median_income = grouped_data['Income'].median()
min_income = grouped_data['Income'].min()
max_income = grouped_data['Income'].max()
std_dev_income = grouped_data['Income'].std()

age_groups = df['Age'].unique().tolist()
for age in age_groups:
    print(f"Summary statistics for {age} age group:")
    print(f"Mean: {mean_income[age]:.2f}")
    print(f"Median: {median_income[age]:.2f}")
    print(f"Minimum: {min_income[age]:.2f}")
    print(f"Maximum: {max_income[age]:.2f}")
    print(f"Standard Deviation: {std_dev_income[age]:.2f}")
    print()

Summary statistics for Young age group:
Mean: 46037.50
Median: 41500.00
Minimum: 15000.00
Maximum: 87000.00
Standard Deviation: 22356.86

Summary statistics for Middle Age age group:
Mean: 52453.33
Median: 53200.00
Minimum: 25600.00
Maximum: 93000.00
Standard Deviation: 20497.80

Summary statistics for Old age group:
Mean: 53942.11
Median: 45300.00
Minimum: 24500.00
Maximum: 89700.00
Standard Deviation: 20868.17

In [17]:
df.Age.replace(['Young','Middle Age','Old'],[1,2,3],inplace=True)
df.head(10)

   Age  Income
0    1   25000
1    2   54000
2    3   60000
3    1   15000
4    1   45000
5    1   65000
6    1   70000
7    1   30000
8    2   27000
9    1   23000

In [8]:
# without library functions
mean_income = sum(df['Income'])/len(df['Income'])
mean_income

50966.0

In [10]:
sorted_data = sorted(df['Income'])
n=len(sorted_data)
if n%2==0 :
    median = (sorted_data[n//2 -1] + sorted_data[n//2])/2
else:
    median = sorted_data[n//2]
median

46850.0

In [13]:
income=[]
for i in df.Income:
    income.append(i)
income.append(45000)
income.append(45000)
income.append(45000)
mode=max((income.count(item),item) for item in set(income))[1]
mode

45000

In [14]:
data=df['Income']
deviations = [(x-mean_income)**2 for x in data]
variance = sum(deviations)/len(data)
standard_deviation = variance**0.5

In [15]:
print('variance : ',variance)
print('standard deviation : ',standard_deviation)

variance :  436168644.0
standard deviation :  20884.6509187968